@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@theme {
  --color-brand-50: #fdf4ff;
  --color-brand-100: #fae8ff;
  --color-brand-200: #f5d0fe;
  --color-brand-300: #f0abfc;
  --color-brand-400: #e879f9;
  --color-brand-500: #d946ef;
  --color-brand-600: #c026d3;
  --color-brand-700: #a21caf;
  --color-brand-800: #86198f;
  --color-brand-900: #701a75;

  --color-dark-700: #334155;
  --color-dark-800: #1e293b;
  --color-dark-900: #0f172a;

  --font-sans: 'Inter', sans-serif;

  --animate-pulse-fast: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce-small: bounce 0.5s infinite;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-dark-900);
  color: white;
}